:root {
  --color-peach: #ff9d60;
  --color-ligthpeach: #ffc89a;
  --color-darkpink: #ed5d8f;
  --color-pink: #ff98a8;
  --color-ligthpink: #ffb4c9;
  --color-pink-accent: #ff6875;
  --color-white: #fff;
  --color-darkgray: #888;
  --color-softgray: #f8f8f8;
  --color-black: #000;
}
